---
import type { Props } from "./index.type";
import { ArrowUpRight } from "@lucide/astro";

const {
    href = "",
    label = "",
    type = "button",
    isExternal = false,
    className = "",
    showArrowUp = false,
} = Astro.props as Props;
---

{
    href ? (
        <a
            class={`inline-flex items-center rounded-full border border-zinc-300 px-4 py-2 text-sm font-medium text-paper hover:border-zinc-500 ${className}`}
            href={href}
            target={isExternal ? "_blank" : undefined}
            rel={isExternal ? "noreferrer noopener" : undefined}
        >
            <slot>{label}</slot>
            {showArrowUp && (
                <ArrowUpRight aria-hidden="true" class="ml-2 size-6" />
            )}
        </a>
    ) : (
        <button
            class={`inline-flex items-center rounded-full border border-zinc-300 px-4 py-2 text-sm font-medium text-paper hover:border-zinc-500 ${className}`}
            type={type}
        >
            <slot>{label}</slot>
            {showArrowUp && (
                <ArrowUpRight aria-hidden="true" class="ml-2 size-6" />
            )}
        </button>
    )
}
