---
import Container from "@/components/Container/index.astro";
import ImageGrid from "@/components/ImageGrid/index.astro";
import SectionHeader from "@/components/SectionHeader/index.astro";
import { toPlainText } from "@/utils/pageBuilder/helpers";
import type { Props } from "./index.type";
import Button from "@/components/Button/index.astro";
const {
    eyebrow = "",
    heading = "",
    description = [],
    button,
    images = [],
} = Astro.props as Props;
const descriptionText = toPlainText(description);
---

<Container>
    <div
        class="grid gap-8 lg:grid-cols-[minmax(0,0.8fr)_minmax(0,1.2fr)] lg:items-start"
    >
        <div>
            <SectionHeader
                eyebrow={eyebrow}
                heading={heading}
                description={descriptionText}
                className="max-w-xl"
            />
            <Button
                href={button?.buttonLink}
                label={button?.buttonText}
                isExternal={button?.isExternalLink}
                showArrowUp
                className="mt-8"
            />
        </div>
        <ImageGrid images={images} className="lg:mt-4 lg:justify-self-end" />
    </div>
</Container>
