---
import type { Props } from "./index.type";
import Heading from "../Heading/index.astro";
import Text from "../Text/index.astro";

const {
    eyebrow = "",
    heading = "",
    description = "",
    className = "",
    hero = false,
    headingAs = "h2",
} = Astro.props as Props;
---

<div class={`space-y-2 ${className}`}>
    {
        eyebrow && (
            <Text
                className="font-semibold uppercase text-paper"
                style="font-size: var(--font-size-sm);"
            >
                {eyebrow}
            </Text>
        )
    }
    {
        heading && (
            <Heading
                as={headingAs}
                text={heading}
                className="leading-tight text-paper"
                style={
                    hero
                        ? "font-size: var(--font-size-h1);"
                        : "font-size: var(--font-size-5xl);"
                }
            />
        )
    }
    {
        description && (
            <Text
                className="leading-7 text-paper"
                style="font-size: var(--font-size-lg);"
            >
                {description}
            </Text>
        )
    }
</div>
