---
import Heading from "@/components/Heading/index.astro";
import Text from "@/components/Text/index.astro";
import { getTechnologyLabel, toPlainText } from "@/utils/pageBuilder/helpers";
import { Image } from "astro:assets";
import type { Props } from "./index.type";

const { entry, index } = Astro.props as Props;
---

<div
    class:list={[
        "grid gap-4 rounded-2xl border border-paper/20 p-4 lg:w-[calc(50%-1.5rem)]  lg:items-center",
        index % 2 === 0 ? "lg:mr-auto" : "lg:ml-auto",
    ]}
>
    <div>
        <Text
            className="mb-2 inline-flex rounded py-0.5 text-[10px] font-semibold uppercase"
            style="color: var(--color-accent-orange);"
        >
            {entry.period}
        </Text>
        <Heading as="h3" className="text-lg font-medium">
            {entry.company}
        </Heading>
        {entry.role && <Text className="text-sm  mb-6">{entry.role}</Text>}
        {
            entry.description && (
                <Text className="mt-2 ">{toPlainText(entry.description)}</Text>
            )
        }
        {
            entry.technologies && entry.technologies.length > 0 && (
                <div class="mt-3 flex flex-col gap-x-2 gap-y-1">
                    <Text className="text-xs font-medium text-paper mb-2">
                        Technologies I used here:
                    </Text>
                    <ul class="flex flex-wrap items-center gap-4">
                        {entry.technologies.map((item) => (
                            <li class="inline-flex items-center justify-center  ">
                                {item.technology?.svg ? (
                                    <span
                                        aria-hidden="true"
                                        title={getTechnologyLabel(item)}
                                        class="inline-flex h-10 w-10 items-center justify-center [&_svg]:h-10 [&_svg]:w-10 grayscale transition-all duration-300 hover:grayscale-0"
                                        set:html={item.technology.svg}
                                    />
                                ) : (
                                    getTechnologyLabel(item)
                                )}
                            </li>
                        ))}
                    </ul>
                </div>
            )
        }
    </div>
</div>
