---
import "../styles/global.css";
import Header from "@/components/Header/index.astro";
import Footer from "@/components/Footer/index.astro";
import type { Props } from "./Layout.type";
import { ClientRouter } from "astro:transitions";
const {
    headerMenuItems = [],
    footerMenuItems = [],
    phone = "",
    email = "",
    instagram = "",
    linkedin = "",
    github = "",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Grzegorz Ratajczak</title>
    </head>
    <body class="min-h-screen antialiased flex flex-col">
        <Header menuItems={headerMenuItems} />
        <slot />
        <Footer
            menuItems={footerMenuItems}
            phone={phone}
            email={email}
            instagram={instagram}
            linkedin={linkedin}
            github={github}
        />
        <ClientRouter />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
