---
import Button from "@/components/Button/index.astro";
import Container from "@/components/Container/index.astro";
import Project from "@/components/Project/index.astro";
import SectionHeader from "@/components/SectionHeader/index.astro";
import Text from "@/components/Text/index.astro";
import type { Props } from "./index.type";

const {
    eyebrow = "",
    heading = "",
    projects = [],
    button,
} = Astro.props as Props;
---

<Container>
    <div class="mb-8 flex items-center justify-between gap-4">
        <SectionHeader eyebrow={eyebrow} heading={heading} />
        {
            button?.buttonText && (
                <Button
                    className="shrink-0"
                    href={button?.buttonLink}
                    label={button?.buttonText}
                    isExternal={button?.isExternalLink}
                    showArrowUp
                    mobileIconOnly
                />
            )
        }
    </div>

    {
        projects.length > 0 ? (
            <ul class="space-y-4">
                {projects.map((item) => (
                    <li>
                        {item.project ? (
                            <Project project={item.project} />
                        ) : null}
                    </li>
                ))}
            </ul>
        ) : (
            <Text className="text-paper">No projects configured.</Text>
        )
    }
</Container>
